section#contact .form-group input, section#contact .form-group textarea {
    padding: 8px;
    font-size: 14px;
    font-weight: 100;
}
section#contact .form-group textarea.form-control {
    height: 130px;
}
header.masthead .intro-text {
    padding-top: 180px;
	padding-bottom: 220px;
	text-align: right;
}
.intro-text h5 {
    color: #000;
}
h1.intro-lead-in {
    font-size: 62px!important;
    float: right;
    line-height: 60px!important;
	font-style:normal!important
}
p.intro{
	line-height: 1.5;
    font-size: 18px;
	font-weight:300;
	float:right;
}

body {
    background: #1a1a1a;
}
h5{
	color: #a6f435;
}
.white{
	color:#fff;
	font-size: 17.5px;
	font-weight: 300;
}
hr.hrcolor {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgb(166, 244, 53);
    left: 0px;
    width: 40px;
    margin: 35px 0px;
	transition: width 2s;
}
hr.hrcolor:hover{
	width:50%
}
i.fa.fa-desktop {
    font-size: 85px;
    color: #33d9bf;
}
.col-md-9.service h4 {
    color: #fff;
    font-weight: 100;
    text-align: left;
}
p.serviceText {
    color: #fff;
    text-align: left;
    font-size: 13px;
}
.page-section h2.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 100;
    text-transform: none!important;
}
h2.section-heading.text-uppercase {
    color: #fff;
    text-transform: none!important;
    font-size: 50px;
    font-weight: 300;
}
hr.hrcolor.hrcenter {
    margin: auto;
    margin-bottom: 70px;
}
hr.hrcolor.center {
    margin: 30px auto;
}
.faicon{
	color:#33d9bf;
	font-size: 30px;
}
.green h4{
	 color:#a6f434;
	 text-decoration:none;
	 font-weight:100
}  
.button {
  color:#a6f434;
   text-decoration:none;
   font-weight:100;
   background:transparent;
   border: none;

}
.form-control{
	background-color: #222222;
    border: 1px solid #222222;
} 
textarea.form-control {
    height: 130px;
}
.footer{
	background-image: url(../img/dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	padding: 0;
}
header.masthead {
    margin-top: -75px;
}
.footer span.copyright {
    font-size: 125%;
}
ul.social-buttons li a {
    font-size: 29px;
    color: #a6f435;
    background-color: unset;
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: unset;
}
.feedback_img{
	width: 170px;
    height: 170px;
}
a:hover {
    text-decoration: none;
}
#about {
  position: relative;
  width: 100%;
  background: #e0efe3;
}
#about:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 56%;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
#about:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}
.footer-color{
	    height: 350px;
    background: #5d5d5d38;
}
	
/* #wave { */
 /* position: relative; */
  /* height: 70px; */
  /* width: 100%; */
  /* background: #e0efe3; */
/* } */
/* #wave:before { */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* border-radius: 100% 50%; */
  /* width: 55%; */
  /* height: 80px; */
  /* background-color: #1a1a1a; */
  /* right: -5px; */
  /* top: 40px; */
/* } */
/* #wave:after { */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* border-radius: 100% 50%; */
  /* width: 50%; */
  /* height: 70px; */
  /* background-color: #e0efe3; */
  /* left: 0; */
  /* top: 27px; */
/* } */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}.carousel-item {
  min-height: 480px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider-1 {
    border: 5px solid #33d9bf;
    padding: 60px 25px 10px;
}
.sliderText{
	color: #fff;
    text-align: left;
    font-size: 10px;
	margin-bottom: 20px;
}
.sliderImg {
    width: 130px;
    height: 130px;
    position: absolute;
    margin-top: -10px;
    text-align: center;
    margin: -130px -21%;
}
.sliderHead{
	font-size:19px;
margin-top:10px
}
.pull-right{
	float:right;
}
hr.hrcolor.hrcenter.hrsmall {
    margin-bottom: 15px!important;
    width: 30px;
}
section {
    padding: 100px 0;
}
.carousel-caption {
    right: 8%;
    left: 8%;
}
.carousel-control-next, .carousel-control-prev {
	width: 6%;
}
.carousel-item1 {
    min-height: 250px;
}
.carousel-caption1 {
    right: 0%;
    left: 0%;
}
.no-padding{
	padding:0px!important
}
.carousel-indicators li {
    width: 4px;
    height: 4px;
    border-radius: 50%;
	 background-color: #000;
    background-clip: padding-box;
    border-top: unset;
    border-bottom: unset;
    transition: opacity .6s ease;
    margin-top: 10px;
}
.carousel-indicators {
    right: auto;
    bottom: 0;
    left: auto;
    margin-right: 50%;
    margin-left: 48%;
    background-color: #33d9bf;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    top: 35%;
}
.no-padding img {
    height: 300px;
}
.social-buttons{
	padding:20px;
}
.overlay-1{
	background: #33d9bf33;
}
body{
	font-family: 'Poppins', sans-serif;
}
.hrheader{
	float: right;
    display: block;
    margin: 10px!important;
    border-top: 7px solid #a6f435!important;
}
hr.hrcolor:hover {
    width: 100px;
}
hr.hrcolor.hrcenter.hrsmall {
    margin-bottom: 15px!important;
    width: 40px;
}
#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 9px;
}
@keyframes slideInFromLeft {
  0%{
	width:100px;
    transform: translateX(-100%);
  }
  100% {
	width:40px;
    transform: translateX(0);
  }
}
hr.hrcolor{  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 3s ease-out 0s 1 slideInFromLeft;
}
#secondImg{
	width:100%;
	margin-bottom:-2px
}
@media (min-width: 1600px) {
	.footer-color {
		height: 365px;
	}
	.carousel-item {
		min-height: 420px;
	}
	.carousel-indicators {
		top: 53%;
		    margin-left: 50%;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 85%;
	}
}
@media (max-width: 992px){
	h2.section-heading.text-uppercase {
		font-size: 42px;
	}
	#mainNav .navbar-toggler {
		background-color: #1a1a1a;
	}
	#mainNav {
		background-color: #1a1a1a;
	}
	.slider-1 {
		padding: 40px 5px 10px;
	}
	.sliderHead {
		font-size: 16px;
	}
	p.sliderSubHead {
		font-size: 12px;
		margin-bottom: 7px;
	}
	.sliderImg {
		width: 75px;
		height: 75px;
		margin: -80px -23%;
	}
	.sliderText {
		margin-bottom: 0px;
	}
	.no_adding{
		padding:3px!important;
	}
	h1.intro-lead-in {
		font-size: 50px!important;
	}
	header.masthead .intro-text {
		padding-bottom: 150px;
	}
	.col-md-9.service h4 {
		font-size: 18px;
	}
	.footer-color {
		height: 240px;
	}
	ul.navbar-nav.text-uppercase {
		height: 100vh;
		width: 20%;
		margin-left: 40%;
	}
	#mainNav .navbar-nav .nav-item .nav-link,#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
		text-transform: none;
		font-family: 'Poppins', sans-serif;
		color: #a6f435;
	}
	@keyframes slideInFromLeft {
	  0%{
		width:70px;
		transform: translateX(-100%);
	  }
	  100% {
		width:40px;
		transform: translateX(0);
	  }
	}
	
}